window {
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.95);
}

#input {
    padding: 8px;
    border-radius: 5px;
    background-color: #222;
}

#entry {
    padding: 6px;
}

#entry:selected {
    background-color: #444;
}

