[Unit]
Description=Wallpaper daemon (awww/swww)
PartOf=hypr-services.target
After=hypr-services.target

[Service]
Type=simple
ExecStart=/usr/bin/awww-daemon
# ExecStart=/usr/bin/swww-daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=hypr-services.target

