[Unit]
Description=SwayOSD server
PartOf=hypr-services.target
After=hypr-services.target

[Service]
Type=simple
ExecStart=/usr/bin/swayosd-server
Restart=on-failure
RestartSec=2

[Install]
WantedBy=hypr-services.target

